<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" href="/library/skin/tool_base.css" rel="stylesheet" type="text/css" />
    <script type="module" th:src="@{~/webcomponents/pages/sakai-pages.js} + ${cdnQuery}"></script>
    [(${sakaiHtmlHead})]
  </head>
  <body>
    <div class="portletBody">
      <sakai-pages th:site-id="${siteId}"></sakai-pages>
    </div>
  </body>
</html>
