<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" src="/library/js/headscripts.js"></script>
  <script type="text/javascript" src="/library/webjars/vue/2.5.16/vue.min.js"></script>
  <title>Collaborative Maps</title>
</head>
<body>
  <div>
    <div class="portletBody">
      <div id="collaborativemaps">
        <h1>{{ title }}</h1>
      </div>
    </div>
</div>
<script type="text/javascript" src="/collaborativemaps-tool/js/collaborativemaps.js"></script>
</body>
</html>
