<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
		class="org.sakaiproject.poll.tool.entityproviders.PollsEntityProvider">
		<property name="pollListManager"
			ref="org.sakaiproject.poll.logic.PollListManager" />
		<property name="pollVoteManager"
			ref="org.sakaiproject.tool.poll.api.PollVoteManager" />
		<property name="usageSessionService"
			ref="org.sakaiproject.event.api.UsageSessionService"/>
		<property name="userDirectoryService"
            ref="org.sakaiproject.user.api.UserDirectoryService"/>
	</bean>
	
	<bean
		parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
		class="org.sakaiproject.poll.tool.entityproviders.PollEntityProvider">
		<property name="pollListManager"
			ref="org.sakaiproject.poll.logic.PollListManager" />
		<property name="pollVoteManager"
			ref="org.sakaiproject.tool.poll.api.PollVoteManager" />
	</bean>
	<bean
		parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
		class="org.sakaiproject.poll.tool.entityproviders.PollOptionEntityProvider">
		<property name="pollListManager"
			ref="org.sakaiproject.poll.logic.PollListManager" />
	</bean>
	<bean
		parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
		class="org.sakaiproject.poll.tool.entityproviders.PollVoteEntityProvider">
		<property name="pollListManager"
			ref="org.sakaiproject.poll.logic.PollListManager" />
		<property name="pollVoteManager"
			ref="org.sakaiproject.tool.poll.api.PollVoteManager" />
		<property name="usageSessionService"
			ref="org.sakaiproject.event.api.UsageSessionService"/>
			<property name="userDirectoryService"
                       ref="org.sakaiproject.user.api.UserDirectoryService"/>
	</bean>

</beans>
