## This file controls which buttons appear in the mobile footer bar in narrow view, separate of links in the header in wide view

<nav class="portal-mobilebar bg-dark d-flex d-md-none align-items-center justify-content-between">
  <ul class="nav flex-nowrap align-items-center justify-content-around w-100">

    <li>
      <button class="btn icon-button m-1 d-md-none btn-sidebar-collapse responsive-sidebar-button"
          data-bs-toggle="offcanvas"
          data-bs-target="#portal-nav-sidebar"
          aria-controls="portal-nav-sidebar"
          aria-label="$rloader.sit_navigation"
          aria-expanded="false"
          title="$rloader.sit_navigation">
        <span class="bi bi-list"></span>
      </button>
    </li>
    <li>
      <button class="btn icon-button responsive-allsites-button"
          data-bs-toggle="offcanvas"
          data-bs-target="#select-site-sidebar"
          aria-label="$rloader.sit_allsites"
          aria-controls="select-site-sidebar"
          title="$rloader.sit_allsites">
          <i class="si si-all-sites"></i>
      </button>
    </li>

    #if (${usePortalSearch} && !${loginTopLogin})
    <li>
      <button class="btn icon-button portal-search-button"
      		data-bs-toggle="offcanvas"
          data-bs-target="#sakai-search-panel"
          aria-controls="sakai-search-panel"
          aria-label="$rloader.sit_search_for_content"
          title="$rloader.sit_search_for_content">
        <i class="bi-search"></i>
      </button>
    </li>
    #end

    #if (${useBullhornAlerts} && !${loginTopLogin})
    <li>
      <button class="portal-notifications-button btn icon-button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sakai-notifications-panel"
          aria-controls="sakai-notifications-panel"
          aria-label="$rloader.sit_notifications"
          title="$rloader.sit_notifications">
        <i class="bi-bell"></i>
        <span class="portal-notifications-indicator p-1 rounded-circle d-none">
          <span class="visually-hidden">$rloader.sit_new_notifications_label</span>
        </span>
      </button>
    </li>
    #end 

    #if (!${userIsLoggedIn})
      <li>
        <button id="mobileLoginBtn" class="d-sm-none btn btn-outline-light mb-1 my-1 mx-2">
            ${rloader.login}
        </button>
      </li>
    #else
    <li>
      <button class="btn icon-button sak-sysInd-account"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sakai-account-panel"
          aria-controls="sakai-account-panel"
          title="${rloader.mainnav_btn_account}">
        <img class="sakai-accountProfileImage rounded-circle"
            src="/direct/profile/${loginUserId}/image/thumb"
            alt="${rloader.sit_profile_image_alt}">
      </button>
    </li>
    #end
  </ul>
</nav>


