$logo: 'images/lancaster_logo.png';
$logo-width: 150px;
$logo-height: 47px;
$background-color: #000000;
$background-color-secondary: #FFFFFF;
$sites-nav-background: #FFFFFF;
$top-header-background: #FFFFFF;
$topNav-text-color: #000000;
$tool-border-color: #000000;
$sites-nav-menu-item-selected-background: #B31522;
$sites-nav-submenu-selected-background: $sites-nav-menu-item-selected-background;
$sites-nav-submenu-item-selected-background: $sites-nav-menu-item-selected-background;
$text-color: #FFFFFF;
$breadcrumbs-hover-color: #FFFFFF;
$breadcrumbs-tool-color: #FFFFFF;
$tool-menu-hover-background-color: $sites-nav-menu-item-selected-background;
$tool-menu-hover-color: $text-color;
//$tool-tab-background-color: $sites-nav-menu-item-selected-background;
$button-color-background-color: $sites-nav-menu-item-selected-background;
